<server description="Sample Liberty server">

    <featureManager>
        <!-- tag::faces[] -->
        <feature>faces-4.0</feature>
        <!-- end::faces[] -->
        <!-- tag::expressionLanguage[] -->
        <feature>expressionLanguage-5.0</feature>
        <!-- end::expressionLanguage[] -->
        <!-- tag::cdi[] -->
        <feature>cdi-4.0</feature>
        <!-- end::cdi[] -->
    </featureManager>

    <variable name="http.port" defaultValue="9080"/>
    <variable name="https.port" defaultValue="9443"/>

    <basicRegistry id="basic" realm="BasicRealm">
        <!--
        <user name="yourUserName" password="" />
        -->
    </basicRegistry>

    <httpEndpoint id="defaultHttpEndpoint" host="*"
                  httpPort="${http.port}"
                  httpsPort="${https.port}" />

    <webApplication location="guide-jakarta-faces.war" contextRoot="/"/>

</server>
